// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table tr td{
  padding: 5px;
  vertical-align: top;
}

.list_image{
  width: 200px;
  height: 150px;
  margin-left: 10px;
  border-radius: 0%;
}