<p id="notice"><%= notice %></p>

<h1>Акции</h1>

<table>
    <% @promotions.each do |promotion| %>
      <td class="list_description">
        <dl>
          <dt><%= promotion.title %></dt>
        </dl>
      </td>
      <tr>
        <td><%= link_to 'Посмотреть условия акции', promotion %></td>
      </tr>
    <% end %>
</table>

<br>